.input{
    width: 40%;
    padding: 5px 10px;
    border: 2px solid rgb(255, 242, 0);
    margin-bottom: 10px;
    border-radius: 10px;
}

.input:hover{
    border: 2px solid rgb(8, 0, 255);
    box-shadow: 0 0 5px rgb(0, 0, 0);
}

.input:focus{
    outline: none;
    border-color: red;
}

.input[type="password"] {
    color: red;
}

.input-moderno{
    border: none;
    border-bottom: 1px solid rgb(98, 98, 98);
    color: rgb(98, 98, 98);
    outline: none;
    padding: 5px;
    border-radius: 5px;
}

.input-moderno::placeholder{
    color: #c2c2c2;
}

.input-moderno:hover{
    box-shadow: 0 0 5px rgb(0, 0, 0);
}

.input-background{
    background-color: aquamarine;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
}

.input-background::placeholder{
    color: gray;
}

.input-background:hover{
    box-shadow: 0 0 5px rgb(0, 0, 0);
}

.input-html{
    padding: 10px;
    border: none;
    background-color: #eee;
    border-radius: 8px;
    margin: 10px;
    background-image: url('../img/logohtml.png');
    background-repeat: no-repeat;
    background-position: 5px;
    background-size: 12%;
    padding-left: 30px;
}

.input-css{
    padding: 10px;
    border: none;
    background-color: #eee;
    border-radius: 8px;
    margin: 10px;
    background-image: url('../img/CSS3_logo.svg.png');
    background-repeat: no-repeat;
    background-position: 5px;
    background-size: 12%;
    padding-left: 32px;
}

select{
    width: 100%;
    padding: 15px;
    background-color: #eee;
    border-radius: 10px;
    border: none;
    outline: none;
}